.calc-row {
  height: 100vh;
  font-family: "Share Tech Mono", monospace;
}

.input-window {
  text-align: end;
  font-size: x-large;
}

.card-body {
  background: #000;
}

#calc .row .btn {
  flex: 1;
  margin: 5px 2px 0;
}

#calc .row .btn:first-of-type {
  margin-left: 0;
}

#calc .row .btn:last-of-type {
  margin-right: 0;
}
